# IDE
snapshot-version.txt
.kilo*
.vscode*

# CACHE
__pycache__
.ruff_cache

# ENVIRONMENT
.env
.venv

# LOGGING
.log/
*.log

# LOCAL THON CONFIG
thon.yaml
groups.yaml
extensions.txt
vscode-settings.jsonc
kilo.json*