# NextJS
PORT=
HOSTNAME=

# Redis
REDIS_URL=redis://localhost:6379

# Matomo Analytics
NEXT_PUBLIC_MATOMO_URL=https://your-matomo-instance.com/
NEXT_PUBLIC_MATOMO_SITE_ID=11
NEXT_PUBLIC_MATOMO_DOMAINS=*.thon.waterpistol.co
