aykutsarac.jsoncrack-vscode
batisteo.vscode-django
bradlc.vscode-tailwindcss
christian-kohler.npm-intellisense
christian-kohler.path-intellisense
csstools.postcss
dart-code.dart-code
dart-code.flutter
databricks.sqltools-databricks-driver
davidanson.vscode-markdownlint
dbaeumer.vscode-eslint
donjayamanne.githistory
donjayamanne.python-extension-pack
eliotvu.uc
esbenp.prettier-vscode
gerrnperl.outline-map
github.vscode-github-actions
github.vscode-pull-request-github
gitlab.gitlab-workflow
golang.go
gydunhn.javascript-essentials
kokororin.vscode-phpfmt
koszti.snowflake-driver-for-sqltools
mechatroner.rainbow-csv
meta.pyrefly
ms-dotnettools.csdevkit
ms-dotnettools.vscode-dotnet-runtime
ms-pyright.pyright
ms-python.autopep8
ms-python.black-formatter
ms-python.flake8
ms-python.isort
ms-python.mypy-type-checker
ms-python.pylint
ms-toolsai.jupyter
ms-vscode.cmake-tools
ms-vscode.hexeditor
ms-vscode.makefile-tools
ms-vscode.vscode-typescript-next
msjsdiag.vscode-react-native
mtxr.sqltools-driver-mssql
mtxr.sqltools-driver-mysql
mtxr.sqltools-driver-pg
mtxr.sqltools-driver-sqlite
nilssoderman.ue-python
oracle.oracle-java
redhat.java
redhat.vscode-yaml
svelte.svelte-vscode
vscjava.vscode-gradle
vscjava.vscode-java-debug
vscjava.vscode-java-dependency
vscjava.vscode-java-pack
whitphx.vscode-stlite
xdebug.php-debug
yoavbls.pretty-ts-errors
yzhang.markdown-all-in-one
zobo.php-intellisense
/tmp/kilo-vscode-linux-x64.vsix
